
form{
    display:flex;
    margin:0;
    border: 4px #685044;
    align-items:center;
    justify-content:center;
    background-color:#EEE8EA;
}
.pup-row {
    display: flex;
    align-items: center; 
    gap: 20px;
    margin-bottom: 20px;
}
.rocborder, .sugarborder {
    width: 300px !important;
    height: 300px !important;
    border: 8px solid #B9D9F3 !important;
    border-radius: 0px;
    object-fit: cover;
    margin: 0 !important;
}
.sugarborder {
    border-color: #ffc7fc !important;
}

.pup-text {
    font-size:x-large;
    
}